body {
    font-family: "Raleway", sans-serif;
}
.login-layout{
    position: relative;
    overflow: hidden;
}
.phinma-location-container {
    width: 100%;
    height: 100vh;
    background-image: url('/public/images/phinmalocation.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.phinma-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.phinma-logo img{
    width: 369px;
    height: 365px;
}
.login-page input{
    width: 429px;
    height: 69px;
    border-radius: 10px;
    margin-bottom: 28px;
    background-color: #D9D9D9;
    border: 0;
    padding: 0px 22px;
    font-size: 15px;
}
.login-page input::placeholder {
    color: #000000;
    font-family: "Raleway";
    font-weight: 300;
}
.login-page button{
    background-color: #2C5225;
    width: 200px;
    height: 69px;
    border-radius: 10px;
    color: #FFFFFF;
    border: 0;
    font-size: 24px;
}
